/*------------ VARIABLES ------------*/
:root {
    --color-primary-brand-iris: #4D5AE5;
    --color-pressed-state-ocean: #404BBF;
    --color-dark-navy-blue: #2E2F42;
    --color-success-green: #31D0AA;
    --color-text-slate: #434455;
    --color-subtle-text-light-slate: #8E8F99;
    --color-accent-cornflower: #E7E9FC;
    --color-light-cloud: #F4F4FD;
    --color-modal-overlay-navy-blue-modal: #2E2F4240;
    --color-hero-background-grey: #2E2F4270;
    --color-white-background-white: #FFFFFF;
    --color-modal-background-dairy: #FCFCFC;

    --font-primary: "Roboto", sans-serif;
    --font-logo: "Raleway", sans-serif;

    --font-weight-primary-regular: 400;
    --font-weight-primary-medium: 500;
    --font-weight-primary-bold: 700;
    --font-weight-primary-black: 900;

    --font-weight-logo-extrabold: 800;

    --letter-spacing-main: .02em;
    --letter-spacing-small: .04em;
}

/*------------ /VARIABLES ------------*/


/*------------ NORMOLIZING ------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*------------ /NORMOLIZING ------------*/


/*------------ GENERAL ------------*/
body {
    color: var(--color-text-slate);
    background-color: var(--color-white-background-white);
    font-family: var(--font-primary);
}

.header-one {
    font-weight: var(--font-weight-primary-bold);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: var(--letter-spacing-main);
    text-align: center;
}

.header-two {
    color: var(--color-dark-navy-blue);
    font-weight: var(--font-weight-primary-bold);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: var(--letter-spacing-main);
}

.header-three {
    color: var(--color-dark-navy-blue);
    font-weight: var(--font-weight-primary-medium);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-main);
}

.text-body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-main);
}

.text-small-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: var(--letter-spacing-small);
}

.text-body-medium {
    font-weight: var(--font-weight-primary-medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-main);
}

.text-button-text {
    font-weight: var(--font-weight-primary-medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-small);
}

.text-link-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: var(--letter-spacing-small);
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.link p {
    color: var(--color-text-slate);
}

.list {
    list-style: none;
}

.text-header {
    text-transform: capitalize;
    text-align: center;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-item {
    display: flex;
    flex-basis: 100%;
}

/*------------ /GENERAL ------------*/


/*------------ LOGO ------------*/
.logo {
    color: var(--color-primary-brand-iris);
    font-family: var(--font-logo);
    font-size: 18px;
    line-height: 1.17;
    font-weight: var(--font-weight-logo-extrabold);
    letter-spacing: .03em;
    text-transform: uppercase;
}

/*------------ /LOGO ------------*/


/*------------ HEADER ------------*/
.page-header {
    display: flex;
    justify-content: center;
    color: var(--color-dark-navy-blue);
    border-bottom: 1px solid var(--color-accent-cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-content {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-logo {
    margin-right: 76px;
}

.nav-group {
    display: flex;
    gap: 40px;
}

.nav-group>li {
    display: inherit;
}

.nav-menu {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-dark-navy-blue);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu:hover,
.nav-menu:focus {
    color: var(--color-pressed-state-ocean);
}

.address {
    font-style: normal;
    display: flex;
}

.nav-address {
    color: var(--color-text-slate);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-address:hover,
.nav-address:focus {
    color: var(--color-pressed-state-ocean);
}

.page-header .logo-tail {
    color: var(--color-dark-navy-blue);
}

.nav-active {
    position: relative;
    color: var(--color-pressed-state-ocean);
}

.nav-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--color-pressed-state-ocean);
    border-radius: 2px;
}

/*------------ /HEADER ------------*/


/*------------ FOOTER ------------*/
.page-footer {
    padding: 100px 0;
    color: var(--color-light-cloud);
    background-color: var(--color-dark-navy-blue);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer .footer-slogan {
    width: 264px;
}

.page-footer .logo-tail {
    color: var(--color-light-cloud);
}

.page-footer>.container {
    display: flex;
    align-items: baseline;
}

.footer-main {
    margin-right: 120px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.footer-socials>p,
.footer-subscribe>p {
    font-weight: var(--font-weight-primary-medium);
    color: var(--color-white-background-white);
    margin-bottom: 16px;
}

.footer-socials>.social-list {
    gap: 16px;
    align-self: center;
}

.footer-social-item>.social-item-icon {
    padding: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-item>.social-item-icon:hover,
.footer-social-item>.social-item-icon:focus {
    background-color: var(--color-success-green);
}

.subscribe-items {
    display: flex;
    gap: 24px;
    color: var(--color-white-background-white);
}

.subscribe-items .subscribe-input {
    color: inherit;
    line-height: 1.5;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
    fill: var(--color-light-cloud);
    margin-left: 16px;
}

.subscribe-btn {
    display: inline-flex;
    padding: 8px 24px;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: inherit;
    background-color: var(--color-primary-brand-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--color-pressed-state-ocean);
}

/*------------ /FOOTER ------------*/


/*------------ BUTTONS ------------*/
.btn {
    font-family: var(--font-primary);
    cursor: pointer;
    border: none;
}

.filter-btn {
    color: var(--color-primary-brand-iris);
    background-color: var(--color-light-cloud);
    border: 1px solid var(--color-accent-cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-white-background-white);
    background-color: var(--color-pressed-state-ocean);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 2px 1px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.cta-btn {
    min-width: 169px;
    height: 56px;
    color: var(--color-white-background-white);
    background-color: var(--color-primary-brand-iris);
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: var(--color-pressed-state-ocean);
}

/*------------ /BUTTONS ------------*/


/*------------ SOCIALS ------------*/
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: calc((100% - 3 * 24px) / 4);
}

.social-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-brand-iris);
    border-radius: 50%;
}

.social-icon-image {
    fill: var(--color-light-cloud);
}

/*------------ /SOCIALS ------------*/


/*------------ MODAL-BACKDROP ------------*/
.backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--color-modal-background-dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: var(--color-accent-cornflower);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    fill: var(--color-white-background-white);
    background-color: var(--color-pressed-state-ocean);
    border: none;
}

.btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*------------ /MODAL-BACKDROP ------------*/


/*------------ MODAL-FORM ------------*/
.modal-header {
    display: flex;
    text-align: center;
    color: var(--color-dark-navy-blue, #2E2F42);
    justify-content: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-input-block {
    margin-bottom: 8px;
}

.modal-input-textarea-block {
    margin-bottom: 16px;
}

.modal-input-wraper {
    position: relative;
    display: flex;
}

.modal-label-desc {
    display: block;
    color: var(--color-subtle-text-light-slate);
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
    padding-left: 38px;
}

.modal-input:focus {
    border-color: var(--color-primary-brand-iris);
}

.modal-textarea-block {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-block:focus {
    outline-offset: 4px;
    border: 1px solid var(--color-primary-brand-iris);
}

.modal-input:focus+.modal-input-icon {
    outline: transparent;
    outline-offset: 4px;
    fill: var(--color-primary-brand-iris);
}

.modal-textarea-block::placeholder {
    color: var(--color-modal-overlay-navy-blue-modal);
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--color-dark-navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-policy {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}

.checkbox-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    fill: transparent;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
    color: var(--color-subtle-text-light-slate);
}

.custom-checkbox>a {
    color: var(--color-primary-brand-iris);
}

.modal-checkbox:checked + .custom-checkbox>.checkbox-icon {
    background-color: var(--color-pressed-state-ocean);
    border: none;
    fill: var(--color-light-cloud);
}

.modal-btn {
    margin: 0 auto;
}
/*------------ /MODAL-FORM ------------*/


/*------------ HERO-SCREEN ------------*/
.hero-screen {
    position: relative;
    overflow: hidden;
    padding: 188px 0;
    margin: 0 auto;
    color: var(--color-white-background-white);
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-people-office-full.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.hero-content>h1 {
    max-width: 496px;
}

/*------------ /HERO-SCREEN ------------*/


/*------------ FEATURES-SCREEN ------------*/
.features-group {
    display: flex;
    gap: 24px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 3*24px)/4);
}

.feature-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-cloud);
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
}

.feature-name {
    margin-bottom: 8px;
}

/*------------ /FEATURES-SCREEN ------------*/


/*------------ BUSINESS-SCREEN ------------*/
.business-screen {
    padding-top: 0;
}

.business-content {
    flex-direction: column;
}

.business-content>h2 {
    margin-bottom: 72px;
}

.business-group {
    display: flex;
    gap: 24px;
}

.business-item {
    width: calc((100% - 2*24px)/3);
    border: 1px solid var(--color-accent-cornflower);
}

/*------------ /BUSINESS-SCREEN ------------*/


/*------------ TEAM-SCREEN ------------*/
.team-screen {
    background-color: var(--color-light-cloud);
}

.team-content {
    flex-direction: column;
}

.team-content>h2 {
    margin-bottom: 72px;
}

.team-group {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: var(--color-white-background-white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}

.team-card-social-item>.social-item-icon {
    padding: 12px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-card-social-item>.social-item-icon:hover,
.team-card-social-item>.social-item-icon:focus {
    background-color: var(--color-pressed-state-ocean);
}

/*------------ /TEAM-SCREEN ------------*/


/*------------ CUSTOMER-SCREEN ------------*/
.customer-content {
    flex-direction: column;
}

.customer-content>h2 {
    margin-bottom: 72px;
}

.customer-group {
    display: flex;
    gap: 24px;
}

.customer-item {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
}

.customer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border: 1px solid var(--color-subtle-text-light-slate);
    border-radius: 4px;
    color: var(--color-subtle-text-light-slate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-image {
    fill: currentColor;
}

.customer-icon:hover,
.customer-icon:focus {
    border-color: var(--color-pressed-state-ocean);
    color: var(--color-pressed-state-ocean);
}

/*------------ /CUSTOMER-SCREEN ------------*/


/*------------ PORTFOLIO-SCREEN ------------*/
.portfolio {
    padding-top: 96px;
    display: flex;
    justify-content: center;
}

.portfolio-content {
    flex-direction: column;
}

.filter-group {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    padding: 12px 24px;
    border-radius: 4px;
}

.portfolio-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    display: block;
    flex-basis: calc((100% - 2*24px)/3);
    background-color: var(--color-white-background-white);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-image {
    position: relative;
    overflow: hidden;
}

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.portfolio-item-overlay.text-body {
    padding: 40px 32px;
    color: var(--color-light-cloud);
    background-color: var(--color-primary-brand-iris);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
    transform: translateY(0%);
}

.portfolio-card-textblock {
    padding: 32px 16px;
    border: 1px solid var(--color-accent-cornflower);
    border-top: none;
}

.portfolio-card-textblock>h2 {
    margin-bottom: 8px;
}

/*------------ /PORTFOLIO-SCREEN ------------*/