.mobile-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-cloud);
    transform: translateX(100%);
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 35px;
}

.mobile.nav-group,
.mobile.address {
    display: flex;
    flex-direction: column;
}

.mobile.nav-group {
    gap: 40px;
}

.mobile.nav-menu:hover,
.mobile.nav-menu:focus {
    color: var(--color-pressed-state-ocean);
}

.mobile.nav-active {
    color: var(--color-pressed-state-ocean);
}

.address>.mobile {
    gap: 40px;
}

.mobile.nav-address.link {
    font-style: normal;
}

.big-number {
    color: var(--color-primary-brand-iris);
}

.mobile-social {
    margin-top: 48px;
}

.mobile-social>.social-list {
    justify-content: space-between;
    width: 100%;
    max-width: 328px;
}

.mobile-social-item>.social-item-icon {
    padding: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-social-item>.social-item-icon:hover,
.mobile-social-item>.social-item-icon:focus {
    background-color: var(--color-pressed-state-ocean);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }    
}

@media screen and (max-width: 427px) {
    .big-number {
        font-size: 24px;
        line-height: 1.2;
    }
}