.features-group {
    display: flex;
    gap: 24px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 3*24px)/4);
}

.feature-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-cloud);
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
}

.feature-name {
    margin-bottom: 8px;
}
