.hero-screen {
    position: relative;
    overflow: hidden;
    padding: 188px 0;
    margin: 0 auto;
    color: var(--color-white-background-white);
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../../../../images/hero-people-office-full.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.hero-content>h1 {
    max-width: 496px;
}
