.hero-screen {
    position: relative;
    overflow: hidden;
    padding: 112px 0;
    margin: 0 auto;
    color: var(--color-white-background-white);
    max-width: 428px;
    background-image: 
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../../../../images/studio/people_office-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.hero-content>h1 {
    max-width: 320px;
}

@media screen and (max-width: 767px) {
    .hero-content>h1 {
        font-size: 36px;
        line-height: 1.11;
    }
}

@media screen and (min-width: 768px) {
    .hero-screen {
        max-width: 768px;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../../../../images/studio/people_office-tablet.jpg");
    }

    .hero-content {
        gap: 36px;
    }

    .hero-content>h1 {
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-screen {
        padding: 188px 0;
        max-width: 1440px;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../../../../images/studio/people_office-desktop.jpg");
    }
    
    .hero-content {
        gap: 48px;
    }    
}

@media screen and (min-resolution: 192dpi) {
    .hero-screen {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../../../../images/studio/people_office-mobile@2x.jpg");
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero-screen {
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../../../../images/studio/people_office-tablet@2x.jpg");
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero-screen {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../../../../images/studio/people_office-desktop@2x.jpg");
    }
}