.section {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-item {
    display: flex;
    flex-basis: 100%;
}

@media screen and (min-width: 1158px) {
    .section {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
